/* Write your code here. */

.active-button {
  background-color: transparent;
  border: none;
}
.opacity-button {
  background-color: transparent;
  border: none;
  opacity: 0.5;
}
@media screen and (max-width: 768px) {
  .tumb-imag {
    width: 90px;
    height: 90px;
  }
}
